<%#引入ejs模板代码%>
<%- include("part/header",{title:"新一的个人博客",css:["index","style","style2"],js:["part/title","pixi.min","tinycolor.min","index"],layui:true})%>
<%- include("part/canvas")%>
<%- include("part/menu")%>

<!--头像-->
<div id="blogger">
    <div class="pic">
        <% if (_id) {%>
        <style>
            #blogger .photo {
                border-radius: 50%;
                width: 70px;
                height: 70px;
                background: url("/photo/<%=userInfo.photo%>") center center/cover;
            }
        </style>
        <a class="photo" href=""></a>
        <%}else{%>
        <a href=""></a>
        <%}%>
    </div>
    <div class="name">
        <% if (_id) {%>
        This is <%=username%>
        <%}else{%>
        This is xinyi
        <%}%>
    </div>
</div>
<!--盒子装饰-->
<div id="decorate">
    <svg id="header-decor" class="decor bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100"
        preserveAspectRatio="none">
        <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
        <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
        <path class="medium left" d="M0 100 L50 50 L0 33.3" fill="rgba(255,255,255, .3)"></path>
        <path class="medium right" d="M100 100 L50 50 L100 33.3" fill="rgba(255,255,255, .3)"></path>
        <path class="small left" d="M0 100 L50 50 L0 66.6" fill="rgba(255,255,255, .5)"></path>
        <path class="small right" d="M100 100 L50 50 L100 66.6" fill="rgba(255,255,255, .5)"></path>
        <path d="M0 99.9 L50 49.9 L100 99.9 L0 99.9" fill="rgba(255,255,255, .97)"></path>
        <path d="M48 52 L50 49 L52 52 L48 52" fill="rgba(255,255,255, .97)"></path>
    </svg>
</div>
<!--内容-->
<div id="contents">
    <div class="content-main">
       <div id="container"> 
           <canvas id="waterfall"></canvas>
           <div class="emma flex">
               <div> </div>
           </div>
       </div>
        <script src="/js/index.js"></script>
    </div>
</div>
<div id="contents1">
   <div class="content-main">
    <p id="help"></p>

    <script src='/js/boli/three.min.js'></script>
    <script src='/js/boli/dat.gui.min.js'></script>
    <script src='/js/boli/stats.min.js'></script>
    <script src='/js/boli/OrbitControls.js'></script>
    <script src="/js/boli/index.js"></script>
     </div>
</div>
<!--盒子装饰-->
<div id="decorate2">
    <svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100"
        preserveAspectRatio="none">
        <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
        <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
        <path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba(255,255,255, .3)"></path>
        <path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba(255,255,255, .3)"></path>
        <path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba(255,255,255, .5)"></path>
        <path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba(255,255,255, .5)"></path>
        <path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, .97)"></path>
        <path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, .97)"></path>
    </svg>
</div>

<!--引入layui的模块代码-->
<script src="/js/index-layui.js"></script>
 

<%#引入ejs模板代码%>
        <%- include("part/footer")%>